{% extends "main.html" %}
{% load static %}
{% block title %}
/Student/ Student Personal
{% endblock title %}


{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      <h1>School</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "indexpage" %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "schoolpage" %}">Schools</a></li>
          <li class="breadcrumb-item active">School_detail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-2">
        </div> 

         


        <div class="col-xl-8">
            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
  
                
                <h2>Sittwe /  BHES</h2>
                
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">Type</th>
                      <th scope="col">Count</th>
                      
                      
                      
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <th scope="row">1</th>
                      <td>Teachers</td>
                      <td>22</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>Students</td>
                      <td>22</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">3</th>
                      <td>Rooms</td>
                      <td>22</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">4</th>
                      <td>Headmaster</td>
                      <td>22</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">5</th>
                      <td>Headmistress</td>
                      <td>22</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">6</th>
                      <td>Offieces</td>
                      <td>2</td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                      
                    </tbody>
                </table>
                
            </div>
          </div>
                      
                     
                      
                   
          <div class="col-xl-2">
  
          </div>
          </div>
          </div>
      </section>
  
  </main>
  
  {% endblock content %}
                    
                    
        
            
        


       

          

       
      
        

          

