{% extends "main.html" %}
{% load static %}
{% block title %}
/ Teacher Personal
{% endblock title %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>ဆရာ၊ဆရာမ ကိုယ်ရီးအချက်အလက်</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "indexpage" %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url "teacherpage" %}">Teacher</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">

              <h2>Kevin Anderson</h2>
              <h3>Headmaster</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                

                

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">ကိုယ်ရီး အကျဥ်း</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">နာမည်</div>
                    <div class="col-lg-9 col-md-8">ဦးလှတင်</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">အသက်</div>
                    <div class="col-lg-9 col-md-8">29</div>
                  </div>

                  

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">မိဘ နာမည်</div>
                    <div class="col-lg-9 col-md-8">ဦးသန်း၊ ဒေါ်မြ</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">လက်ဟိသင်ကြားနီရေ အတန်း</div>
                    <div class="col-lg-9 col-md-8">ဆယ်တန်း</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">မြို့နယ်</div>
                    <div class="col-lg-9 col-md-8">ကျောက်တော်</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">ကိုးကွယ်ရေ ဘာသာ</div>
                    <div class="col-lg-9 col-md-8">ဗုဒ္ဓ ဘာသာ</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">လူမျိုး</div>
                    <div class="col-lg-9 col-md-8">ရခိုင် လူမျိုး</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">သွေး အုပ်စု</div>
                    <div class="col-lg-9 col-md-8">ဘီ သွီး</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">လိင်</div>
                    <div class="col-lg-9 col-md-8">ကျား</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">ရာထူး</div>
                    <div class="col-lg-9 col-md-8">ကျောင်းအုပ်ဆရာကြီး</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">အိမ်ထောင် ဟိ/မဟိ</div>
                    <div class="col-lg-9 col-md-8">မဟိ</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">နီရပ် လိပ်စာ</div>
                    <div class="col-lg-9 col-md-8">ကျောက်တော်မြို့နယ်၊ အပေါက်ဝကျေးရွာ</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">ဆက်သွယ်ရန် လိပ်စာ</div>
                    <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">ဓါတ်ပုံ</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                        
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">နာမည်</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="ဦးလှတင်">
                      </div>
                    </div>

                    

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">အသက်</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" value="၂၉">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">မိဘ နာမည်</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="Job" value="ဦးသန်း၊ ‌ဒေါ်မြ">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">လက်ဟိသင်ကြားနီ‌ရေ အတန်း</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="country" type="text" class="form-control" id="Country" value="ဆယ်တန်း">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">မြို့နယ်</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value="ကျောက်တော်မြို့နယ်">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">ကိုးကွယ်ရေ ဘာသာ</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="ဗုဒ္ဓဘာသာ">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">လူမျိုး</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="ရခိုင် လူမျိုး">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">သွီး အုပ်စု</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="twitter" type="text" class="form-control" id="Twitter" value="ဘီ သွီး">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">လိင်</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="facebook" type="text" class="form-control" id="Facebook" value="ကျား">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">ရာထူး</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="instagram" type="text" class="form-control" id="Instagram" value="ကျောင်းအုပ် ဆရာ">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">အိမ်ထောင် ဟိ/မဟိ</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="မဟိ">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">နီရပ် လိပ်စာ</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="ကျောက်တော်မြို့နယ်၊ အပေါက်ဝကျေးရွာ၊">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">ဆက်သွယ်ရန် လိပ်စာ</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="098873774">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form>

                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">သိမ်းဆည်းမည်၊</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

</main>
{% endblock content %}