{% extends "main.html" %} 
{% load static %}
{% block content %} 
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "indexpage" %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Students Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Male</a></li>
                  <li><a class="dropdown-item" href="#">Famale</a></li>
                  <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Students <span>| All Students</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-muted small pt-2 ps-1">Persons</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Students Card -->

          <!-- Schools Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Kyauk Phru</a></li>
                  <li><a class="dropdown-item" href="#">Thandwe</a></li>
                  <li><a class="dropdown-item" href="#">Sittwe</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Schools <span>| All Schools</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-house"></i>
                  </div>
                  <div class="ps-3">
                    <h6>3,264</h6>
                    <span class="text-muted small pt-2 ps-1">Schools</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Schools Card -->

          <!-- Teachers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Male</a></li>
                  <li><a class="dropdown-item" href="#">Famale</a></li>
                  <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Teachers <span>| All Teachers</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-muted small pt-2 ps-1">Persons</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Teachers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Reports <span>/Today</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: [
                        {
                          name: "Students",
                          data: [31, 40, 28, 51, 42, 82, 100],
                        },
                        {
                          name: "Teachers",
                          data: [11, 32, 45, 32, 34, 52, 41],
                        },
                        {
                          name: "Schools",
                          data: [15, 11, 32, 18, 9, 24, 11],
                        },
                      ],
                      chart: {
                        height: 350,
                        type: "bar",
                        toolbar: {
                          show: false,
                        },
                      },
                      markers: {
                        size: 4,
                      },
                      colors: ["#4154f1", "#2eca6a", "#ff771d"],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100],
                        },
                      },
                      dataLabels: {
                        enabled: false,
                      },
                      stroke: {
                        curve: "smooth",
                        width: 2,
                      },
                      xaxis: {
                        type: "category",
                        categories: [
                          "2024",
                          "2025",
                          "2025",
                          "2025",
                          "2025",
                          "2025",
                        ],
                      },
                      tooltip: {
                        x: {
                          format: "dd MMM",
                        },
                      },
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->
              </div>
            </div>
          </div>
          <!-- End Reports -->

          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent</h5>

                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">စိုင်</th>
                      <th scope="col">အမည်</th>
                      <th scope="col">နီရပ်လိပ်စာ</th>
                      <th scope="col">မှတ်ပုံတင်အမှတ်</th>
                      <th scope="col">မှတ်ချက်</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><a href="#">#2457</a></th>
                      <td>Brandon Jacob</td>
                      <td>
                        <a href="#" class="text-primary">At praesentium minu</a>
                      </td>
                      <td>$64</td>
                      <td>
                        <span class="badge bg-success">Approved</span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2147</a></th>
                      <td>Bridie Kessler</td>
                      <td>
                        <a href="#" class="text-primary"
                          >Blanditiis dolor omnis similique</a
                        >
                      </td>
                      <td>$47</td>
                      <td><span class="badge bg-warning">Pending</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2049</a></th>
                      <td>Ashleigh Langosh</td>
                      <td>
                        <a href="#" class="text-primary"
                          >At recusandae consectetur</a
                        >
                      </td>
                      <td>$147</td>
                      <td>
                        <span class="badge bg-success">Approved</span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2644</a></th>
                      <td>Angus Grady</td>
                      <td>
                        <a href="#" class="text-primar"
                          >Ut voluptatem id earum et</a
                        >
                      </td>
                      <td>$67</td>
                      <td><span class="badge bg-danger">Rejected</span></td>
                    </tr>
                    <tr>
                      <th scope="row"><a href="#">#2644</a></th>
                      <td>Raheem Lehner</td>
                      <td>
                        <a href="#" class="text-primary"
                          >Sunt similique distinctio</a
                        >
                      </td>
                      <td>$165</td>
                      <td>
                        <span class="badge bg-success">Approved</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Recent Sales -->

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>

              <div class="card-body pb-0">
                <h5 class="card-title">Students</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Photo</th>
                      <th scope="col">Name</th>
                      <th scope="col">Student ID</th>
                      <th scope="col">NRC No.</th>
                      <th scope="col">Remark</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <a href="#"
                          ><img src="assets/img/product-1.jpg" alt=""
                        /></a>
                      </th>
                      <td>
                        <a href="#" class="text-primary fw-bold"
                          >Ut inventore ipsa voluptas nulla</a
                        >
                      </td>
                      <td>$64</td>
                      <td class="fw-bold">124</td>
                      <td>$5,828</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a href="#"
                          ><img src="assets/img/product-2.jpg" alt=""
                        /></a>
                      </th>
                      <td>
                        <a href="#" class="text-primary fw-bold"
                          >Exercitationem similique doloremque</a
                        >
                      </td>
                      <td>$46</td>
                      <td class="fw-bold">98</td>
                      <td>$4,508</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a href="#"
                          ><img src="assets/img/product-3.jpg" alt=""
                        /></a>
                      </th>
                      <td>
                        <a href="#" class="text-primary fw-bold"
                          >Doloribus nisi exercitationem</a
                        >
                      </td>
                      <td>$59</td>
                      <td class="fw-bold">74</td>
                      <td>$4,366</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a href="#"
                          ><img src="assets/img/product-4.jpg" alt=""
                        /></a>
                      </th>
                      <td>
                        <a href="#" class="text-primary fw-bold"
                          >Officiis quaerat sint rerum error</a
                        >
                      </td>
                      <td>$32</td>
                      <td class="fw-bold">63</td>
                      <td>$2,016</td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a href="#"
                          ><img src="assets/img/product-5.jpg" alt=""
                        /></a>
                      </th>
                      <td>
                        <a href="#" class="text-primary fw-bold"
                          >Sit unde debitis delectus repellendus</a
                        >
                      </td>
                      <td>$79</td>
                      <td class="fw-bold">41</td>
                      <td>$3,239</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            <div class="activity">
              <div class="activity-item d-flex">
                <div class="activite-label">32 min</div>
                <i
                  class="bi bi-circle-fill activity-badge text-success align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">56 min</div>
                <i
                  class="bi bi-circle-fill activity-badge text-danger align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 hrs</div>
                <i
                  class="bi bi-circle-fill activity-badge text-primary align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">1 day</div>
                <i
                  class="bi bi-circle-fill activity-badge text-info align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 days</div>
                <i
                  class="bi bi-circle-fill activity-badge text-warning align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">4 weeks</div>
                <i
                  class="bi bi-circle-fill activity-badge text-muted align-self-start"
                ></i>
                <div class="activity-content">
                  Created a student to
                  <a href="#" class="fw-bold text-dark">Kyauk Phru BEHS (1)</a>
                </div>
              </div>
              <!-- End activity item-->
            </div>
          </div>
        </div>
        <!-- End Recent Activity -->

        <!-- table  -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Table with hoverable rows</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Age</th>
                  <th scope="col">Start Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Brandon Jacob</td>
                  <td>Designer</td>
                  <td>28</td>
                  <td>2016-05-25</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bridie Kessler</td>
                  <td>Developer</td>
                  <td>35</td>
                  <td>2014-12-05</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashleigh Langosh</td>
                  <td>Finance</td>
                  <td>45</td>
                  <td>2011-08-12</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Angus Grady</td>
                  <td>HR</td>
                  <td>34</td>
                  <td>2012-06-11</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Raheem Lehner</td>
                  <td>Dynamic Division Officer</td>
                  <td>47</td>
                  <td>2011-04-19</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Table with hoverable rows</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Age</th>
                  <th scope="col">Start Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Brandon Jacob</td>
                  <td>Designer</td>
                  <td>28</td>
                  <td>2016-05-25</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Bridie Kessler</td>
                  <td>Developer</td>
                  <td>35</td>
                  <td>2014-12-05</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ashleigh Langosh</td>
                  <td>Finance</td>
                  <td>45</td>
                  <td>2011-08-12</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Angus Grady</td>
                  <td>HR</td>
                  <td>34</td>
                  <td>2012-06-11</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Raheem Lehner</td>
                  <td>Dynamic Division Officer</td>
                  <td>47</td>
                  <td>2011-04-19</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->
          </div>
        </div>
        <!-- End table -->

        <!-- News & Updates Traffic -->

        <!-- End News & Updates -->
      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->


{% endblock content %}
