{% extends "main.html" %}
{% load static %}
{% block title %}
/Students
{% endblock title %}
{% block content %}
<main id="main" class="main">
      <div class="pagetitle">
        <h1>
          lIST OF STUDENTS &nbsp;
          <i class="bi bi-person"></i>
          <i class="bi bi-person"></i>
          <i class="bi bi-person"></i>
        </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url "indexpage" %}">Home</a>
            </li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">Students</li>
          </ol>
          <a href="{% url "add_student_page" %}">
            <button type="button" class="btn btn-secondary">Add Student</button>
          </a>
        </nav>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Students&nbsp;|&nbsp;SITTWAY&nbsp;
                  <i class="bi bi-train-front"></i>
                </h5>
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">Name</th>
                      <th scope="col">Grade</th>
                      <th scope="col">School</th>
                      <th scope="col">Age</th>
                      <th scope="col">Image</th>
                      <th scope="col">Action</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>
                      <td>28</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>

                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>
                      <td>35</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>45</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>34</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>47</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <a href="{% url 'all_studentpage' %}" class="btn btn-success"
                    >View All Students</a>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Students&nbsp;|&nbsp;MROUK OO&nbsp;
                  <i class="bi bi-train-front"></i>
                </h5>
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">Name</th>
                      <th scope="col">Grade</th>
                      <th scope="col">School</th>
                      <th scope="col">Age</th>
                      <th scope="col">Image</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>28</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>35</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>45</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>34</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>47</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <a href="{% url 'all_studentpage' %}" class="btn btn-success"
                    >View All Students</a>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Students&nbsp;|&nbsp;RATHEE DAUNG&nbsp;
                  <i class="bi bi-train-front"></i>
                </h5>
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">Name</th>
                      <th scope="col">Grade</th>
                      <th scope="col">School</th>
                      <th scope="col">Age</th>
                      <th scope="col">Image</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>
                      <td>28</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px; "></td>
                      
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>
                      <td>35</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>45</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>34</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>47</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <a href="{% url 'all_studentpage' %}" class="btn btn-success"
                    >View All Students</a>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Students&nbsp;|&nbsp;MIN BRAR&nbsp;
                  <i class="bi bi-train-front"></i>
                </h5>
                <!-- Table with stripped rows -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">Name</th>
                      <th scope="col">Grade</th>
                      <th scope="col">School</th>
                      <th scope="col">Age</th>
                      <th scope="col">Image</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>
                      
                      <td>28</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>35</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>45</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>34</td>
                      <td><img src="{% static "img/card.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>
                        <a href="{% url "student_personal_page" %}">Theodore Duran</a>
                      </td>
                      <td>Grade-12</td>
                      <td>BHES</td>

                      <td>47</td>
                      <td><img src="{% static "img/news-3.jpg" %}" alt="" style="width: 80px;"></td>
                      
                      <td>
                        <i class="bx bxs-calendar-edit btn btn-success"></i>
                        <i class="bx bx-trash btn btn-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-grid gap-2">
                  <a href="{% url 'all_studentpage' %}" class="btn btn-success"
                    >View All Students</a>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock content %}